<div class="row">
  <div class="col-md-12 no-float">
<h1>Lista de Recursos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Hora</th>
      <th>Guia</th>
      <th>Vale</th>
      <th>Fecha</th>
      <th>Cantidad</th>
      <th>Medicamento</th>
      <th>Destino</th>
      <th>Destinatario</th>
      </tr>
  </thead>

  <tbody>
    <%= render @pins %>
  </tbody>
</table>

<br>

</div>
</div>
<p><%= will_paginate @posts %></P>